

.shelf {
    position: fixed;
    background-image: linear-gradient(to top, rgb(142, 70, 19), sienna);
    width: 400px;
    height: 20px;
    top: 200px;
}

.bracket-l {
    position: fixed;
    background-image: linear-gradient(to top, rgb(164, 83, 45), rgb(72, 36, 19));
    width: 15px;
    height: 20px;
    top: 220px;
    left: 40px;
}

.bracket-r {
    position: fixed;
    background-image: linear-gradient(to top, rgb(164, 83, 45), rgb(72, 36, 19));
    width: 15px;
    height: 20px;
    top: 220px;
    left: 360px;
}
.pot1 {
    position: fixed;
    background-image: linear-gradient(to left, rgb(183 90 4), rgb(213, 91, 26), rgb(183 90 4));
    width: 60px;
    height: 55px;
    top: 145px;
    left: 320px;
}

.pot1lid {
    position: fixed;
    background-image: linear-gradient(to left, rgb(183 90 4), rgb(213, 91, 26), rgb(183 90 4));
    /* background-image: linear-gradient(to top, rgb(78, 39, 3), rgb(213, 91, 26)); */
    width: 75px;
    height: 15px;
    top: 145px;
    left: 313px;
}

.pot1lid2 {
    position: fixed;
    background-color: #9e4d06;
    width: 60px;
    height: 10px;
    top: 160px;
    left: 320px;
}

.p1l1 {
    position: fixed;
    background-image: linear-gradient(to left, #4d8636, rgb(131 181 131), #4d8636);
    width: 50px;
    height: 90px;
    top: 95px;
    left: 326px;
    border-radius: 70%;
    z-index: -1;
}

/* .plant1-l1 {
    position: fixed;
    background-color: rgb(47, 119, 47);
    width: 7px;
    height: 150px;
    top: 145px;
    left: 330px;
    border-radius: 87%;
}
.plant1-l2 {
    position: fixed;
    background-color: rgb(47, 119, 47);
    width: 7px;
    height: 150px;
    top: 145px;
    left: 355px;
    border-radius: 87%;
}
.plant1-l3 {
    position: fixed;
    background-color: rgb(47, 119, 47);
    width: 7px;
    height: 150px;
    top: 145px;
    left: 375px;
    border-radius: 87%;
}

.plant1-l4 {
    position: fixed;
    background-color: rgb(47, 119, 47);
    width: 7px;
    height: 80px;
    top: 140px;
    left: 365px;
    border-radius: 87%;
    transform: rotate(-4deg);
}

.plant1-l5 {
    position: fixed;
    background-color: rgb(47, 119, 47);
    width: 7px;
    height: 130px;
    top: 140px;
    left: 345px;
    border-radius: 87%;
    transform: rotate(-2deg);
} */

.pot2 {
    position: fixed;
    background-image: linear-gradient(to left, rgb(171, 86, 25), rgb(210, 105, 57), rgb(171, 86, 25));
    width: 70px;
    height: 40px;
    top: 110px;
    left: 135px;
    border-radius: 50%;
    border-top: 50px solid white;
    z-index: -2;
}

.plant2-stem {
    position: fixed;
    background-image: linear-gradient(to bottom, green, rgb(75, 116, 13));
    width: 6px;
    height: 100px;
    top: 62px;
    left: 167px;
}

.plant2-leaf-l {
    position: fixed;
    background-color: green;
    width: 50px;
    height: 25px;
    top: 110px;
    left: 128px;
    border-radius: 150px 150px 0 0;
    transform: rotate(270deg);
    z-index: -1;
}

.plant2-leaf-r {
    position: fixed;
    background-color:  green;
    width: 50px;
    height: 25px;
    top: 75px;
    left: 162px;
    border-radius: 0 0 150px 150px;
    transform: rotate(270deg);
    z-index: -1;
}


.pot3 {
    position: fixed;
    /* background-image: linear-gradient(to left, rgb(171, 86, 25), rgb(210, 105, 57), rgb(171, 86, 25)); */
    width: 50px;
    height: 40px;
    top: 150px;
    left: 30px;
    border-top: 50px solid rgb(210 105 57);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: -2;
}

.pot3lid {
    position: fixed;
    width: 90px;
    height: 20px;
    top: 150px;
    left: 30px;
    background-color: rgb(210 105 57);
    z-index: 1;
}

.pot3lid2 {
    position: fixed;
    width: 65px;
    height: 20px;
    top: 170px;
    left: 37px;
    border-top: 10px solid #9f512d;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    z-index: 1;
}

.plant3-stem {
    position: fixed;
    background-image: linear-gradient(to top, rgb(139 168 95), green);
    width: 6px;
    height: 100px;
    top: 50px;
    left: 72px;
}

.plant3-leaf-l {
    position: fixed;
    background-image: linear-gradient(to left, green, rgb(139 168 95));
    width: 20px;
    height: 20px;
    top: 48px;
    left: 53px;
    border-radius: 50%;
    z-index: -1;
}

.plant3-leaf-r {
    position: fixed;
    background-image: linear-gradient(to left, rgb(139 168 95), green);
    width: 20px;
    height: 20px;
    top: 48px;
    left: 77px;
    border-radius: 50%;
    z-index: -1;
}

.plant3-leaf-l1 {
    position: fixed;
    background-image: linear-gradient(to left, green, rgb(139 168 95));
    width: 20px;
    height: 20px;
    top: 70px;
    left: 53px;
    border-radius: 50%;
    z-index: -1;
}

.plant3-leaf-r1 {
    position: fixed;
    background-image: linear-gradient(to left, rgb(139 168 95), green);
    width: 20px;
    height: 20px;
    top: 70px;
    left: 77px;
    border-radius: 50%;
    z-index: -1;
}

.plant3-leaf-l2 {
    position: fixed;
    background-image: linear-gradient(to left, green, rgb(139 168 95));
    width: 20px;
    height: 20px;
    top: 92px;
    left: 53px;
    border-radius: 50%;
    z-index: -1;
}

.plant3-leaf-r2 {
    position: fixed;
    background-image: linear-gradient(to left, rgb(139 168 95), green);
    width: 20px;
    height: 20px;
    top: 92px;
    left: 77px;
    border-radius: 50%;
    z-index: -1;
}

.plant3-leaf-l3 {
    position: fixed;
    background-image: linear-gradient(to left, green, rgb(139 168 95));
    width: 20px;
    height: 20px;
    top: 114px;
    left: 53px;
    border-radius: 50%;
    z-index: -1;
}

.plant3-leaf-r3{
    position: fixed;
    background-image: linear-gradient(to left, rgb(139 168 95), green);
    width: 20px;
    height: 20px;
    top: 114px;
    left: 77px;
    border-radius: 50%;
    z-index: -1;
}





.pot4 {
    position: fixed;
    /* background-image: linear-gradient(to left, rgb(171, 86, 25), rgb(210, 105, 57), rgb(171, 86, 25)); */
    width: 60px;
    height: 70px;
    top: 130px;
    left: 235px;
    background-image: linear-gradient(to left, darkgoldenrod, rgb(246, 187, 37), darkgoldenrod);
    z-index: -2;
}

.plant4-stem {
    position: fixed;
    background-image: linear-gradient(to top, rgb(139 168 95), green);
    width: 6px;
    height: 90px;
    top: 40px;
    left: 262px;
}

.plant4-leaf-l {
    position: fixed;
    background-image: linear-gradient(to left, green, rgb(139 168 95));
    width: 15px;
    height: 15px;
    top: 38px;
    left: 243px;
    border-radius: 0 50% 0 50%;
    z-index: -1;
    transform: rotate(-20deg);
}

.plant4-leaf-r {
    position: fixed;
    background-image: linear-gradient(to left, rgb(139 168 95), green);
    width: 15px;
    height: 15px;
    top: 48px;
    left: 272px;
    border-radius: 50% 0 50% 0;
    z-index: -1;
    transform: rotate(20deg);
}

.plant4-leaf-l1 {
    position: fixed;
    background-image: linear-gradient(to left, green, rgb(139 168 95));
    width: 15px;
    height: 15px;
    top: 60px;
    left: 243px;
    border-radius: 0 50% 0 50%;
    z-index: -1;
    transform: rotate(-20deg);
}

.plant4-leaf-r1 {
    position: fixed;
    background-image: linear-gradient(to left, rgb(139 168 95), green);
    width: 15px;
    height: 15px;
    top: 70px;
    left: 272px;
    border-radius: 50% 0 50% 0;
    z-index: -1;
    transform: rotate(20deg);
}

.plant4-leaf-l2 {
    position: fixed;
    background-image: linear-gradient(to left, green, rgb(139 168 95));
    width: 15px;
    height: 15px;
    top: 82px;
    left: 243px;
    border-radius: 0 50% 0 50%;
    z-index: -1;
    transform: rotate(-20deg);
}

.plant4-leaf-r2 {
    position: fixed;
    background-image: linear-gradient(to left, rgb(139 168 95), green);
    width: 15px;
    height: 15px;
    top: 92px;
    left: 272px;
    border-radius: 50% 0 50% 0;
    z-index: -1;
    transform: rotate(20deg);
}

.plant4-leaf-l3 {
    position: fixed;
    background-image: linear-gradient(to left, green, rgb(139 168 95));
    width: 15px;
    height: 15px;
    top: 104px;
    left: 243px;
    border-radius: 0 50% 0 50%;
    z-index: -1;
    transform: rotate(-20deg);
}

.plant4-leaf-r3{
    position: fixed;
    background-image: linear-gradient(to left, rgb(139 168 95), green);
    width: 15px;
    height: 15px;
    top: 114px;
    left: 272px;
    border-radius: 50% 0 50% 0;
    z-index: -1;
    transform: rotate(20deg);
}






/* peach mode


.peach {
    border-radius: 50%;
    background-image: linear-gradient(to left, orange, pink);
    height: 100px;
    width: 100px;
    position: fixed;
    top: 300px;
    left: 200px;
    box-shadow: 2px 2px #bd9595;
}

.peachbun {
    border-radius: 50%;
    background-image: linear-gradient(to left, orange, pink);
    height: 100px;
    width: 100px;
    position: fixed;
    top: 301px;
    left: 220px;
    box-shadow: 2px 2px #bd9595;
}

.peachleaf {
    position: fixed;
    top: 282px;
    left: 250px;
    background-color: green;
    border-radius: 50%;
    height: 25px;
    width: 50px;
    // border: 2px solid greenyellow;
    // box-shadow: 2px 2px rgb(60 90 60);
    z-index: -1;
    transform: rotate(150deg);
}

.peachleaf2 {
    position: fixed;
    top: 282px;
    left: 220px;
    background-color: green;
    border-radius: 50%;
    height: 25px;
    width: 50px;
    // border: 2px solid greenyellow;
    // box-shadow: 2px 2px rgb(60 90 60);
    z-index: -1;
    transform: rotate(250deg);
}

*/